/* Mengimpor font Inter dari Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Mengimpor Tailwind CSS */
@import "tailwindcss";

/* Menambahkan variabel font-plus-jakarta-sans ke tema */
@theme {
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
}

/* Mengatur gaya untuk body */
body {
  font-family: var(--font-plus-jakarta-sans);
}

@custom-variant dark (&:where(.dark, .dark *));
